
.main-nav {
  padding: 20px 40px;
  display: flex;
  box-shadow: 0 7px 13px rgba(164, 173, 255, 0.4);
  margin-bottom: 50px;
  background-color: $navbar-color;
}

.menu--account{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.navbar-nav{
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-items: center;
}

.nav-item {
  font-size: 16px;
  letter-spacing: -0.055em;
  margin-right: 20px;
  a {
    color: $text-color;
    font-weight: bold;
    text-decoration: none;
  }
}

.site-logo {
  img{
    width: 100%;
    height: auto;
  }
}

.button-block > a{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background-color: $primary-color;
  padding: 10px 35px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}
