$primary-color: #2C4EA6;
$background-color: #f3f3f3;
$navbar-color: #fdfdfd;
$text-color: #242424;
$text-secondary-color: #606060;
$footer-text-color: #fafafa;
$placeholder-text: #A6A6A6;
$light-gray: #f6f6f6;


// TABLE
$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;
$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;
